body {
  background-color: black;
}

/*Backgrounds*/
.fondohora {
  max-height: 600px;
  height: 100%;
  color: white;
  width: 100%;
}
.dia {
  background-image: url("../img/am.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
}

.tarde {
  background-image: url("../img/tarde.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
}

.noche {
  background-image: url("../img/noche.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
}

.container-fluid {
  padding-left: 0px; 
  padding-right: 0px;
}



/*Reloj y parte principal*/
.gradient {
  width: inherit;
  height: 100%;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0.92) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(18%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.92)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0.92) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0.92) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0.92) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0.92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.reloj {
	font-size: 70px;
  font-family: 'Orbitron', sans-serif;;
	height: 70px;
  width: 250px;
  margin: 150px auto 20px;
} 

#hora, #min {
	display: inline-block;
}

#fecha {
  font-size: 18px;
}

h5 {
  margin-bottom: 200px;
}





/*Boton*/
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}


/* Ciudades */
#ciudades {
  border-radius: 10px;
  width: 250px;
  background-color: black;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 30px;
  left:0;
  right:0;
}
#ciudades .city {
  font-size: 14px;
  margin-bottom: 10px;
}

#ciudades .city .relojcity {
  margin-right: 40px;
  display: inline-block;
}
#ciudades .city .relojcity p {
  display: inline-block;
}
